{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">Dashboard</h2>

<div class="row">

    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Total de Alunos</h5>
            <h2>{{ total_alunos }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Total de Sessões</h5>
            <h2>{{ total_sessoes }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow p-3">
            <h5>Média Independência</h5>
            <h2>{{ media_indep }}%</h2>
        </div>
    </div>

</div>

{% endblock %}